{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": true,
      "jsxBracketSameLine": true,
      "parser": "flow"
    }]
  },
  "globals": {
    "it": "true"
  },
  "plugins": [
     "prettier"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
